// Default theme styling

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$Roboto: 'Roboto', sans-serif;

// Colors:
  // Primary
  $primaryColor: #22a7f0;
  $primaryLightenedColor: hsla(201, 87%, 54%, 0.253);
  $primaryBackgroundColor: #dadfe1;
  $primaryTextColor: #ffffff;
  $primaryBackgroundHoverColor: #19b5fe;
  $primarySelectedColor: #b4c7cf;

  // Secondary
  $secondaryColor: #22a7f0;
  $secondaryTextColor: white;

  // Editable fields
  $editFieldBgColor: #eaeaea;

// Transitions
  a { transition: 0.1s ease-in-out; }
  .btn { transition: 0.2s ease-in-out; }